<div class="columns is-vcentered" category="{{category}}" style="height:100vh;">
    <div class="column is-one-fifth">&nbsp;</div>
    <div class="column is-two-thirds">
        <blockquote>
            <span class="fa fa-quote-left"></span>
            &nbsp;
            <p class="is-italic has-text-weight-semibold">{{quote}}</p>
            &nbsp;
            <span class="fa fa-quote-right"></span>
            <br/><div>- {{author}}</span>
        </blockquote>
    </div>
</div>