<link rel="stylesheet" type="text/css" href="css/clock.css">

<div id="divCurrentDate" style="margin:20px; font-weight:bold; font-size:80px;"></div>
<div class="art">

  <div class="digit">
    {{#each clocks}}
      {{#ifLogical @index '<=' 5}}
        {{> clock @index}}
      {{/ifLogical}}
    {{/each}}    
  </div>
  <div class="digit">
    {{#each clocks}}
      {{#ifLogical @index '>=' 6}} 
        {{#ifLogical @index '<=' 11}}
          {{> clock @index}}
        {{/ifLogical}}
      {{/ifLogical}}
    {{/each}}
  </div>
  <div class="digit">
    {{#each clocks}}
      {{#ifLogical @index '>=' 12}} 
        {{#ifLogical @index '<=' 17}}
            {{> clock @index}}
        {{/ifLogical}}
      {{/ifLogical}}
    {{/each}}
  </div>
  <div class="digit">
    {{#each clocks}}
      {{#ifLogical @index '>=' 18}}
        {{> clock @index}}
      {{/ifLogical}}
    {{/each}}
  </div>
</div>
{{!-- <div class="text">
  <h1>Clock Clock 24</h1>
  <p>
    <small>Code</small>
    <br/>
    <a href="https://manu.ninja/">Manuel Wieser</a>
  </p>
  <p>
    <small>Design</small>
    <br/>
    <a href="http://www.humanssince1982.com/">Humans since 1982</a>
  </p>
</div> --}}
<div class="trigger trigger--left"></div>
<div class="trigger trigger--right"></div>

<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script async type="text/javascript" src="js/clock.js"></script>
