<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/news.css"/>


<div class="news-items">    
    {{#each news}}
    <div class="news-item">
        <span class="content">
            <div class="title">{{{title}}}</div>
            {{{content}}}                        
        </span>        
        </div>
    {{/each}}
</div>



    
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/news.js"></script>
