<link rel="stylesheet" type="text/css" href="css/quotes.css">

<div class="columns is-vcentered" style="height:100vh;">
    <div class="column is-one-fifth">&nbsp;</div>
    <div class="column is-two-thirds">
        <blockquote style="padding-left:20px">
            <p class="is-italic has-text-weight-semibold">{{quote}}</p>
            <br/><div>- {{author}}</span>
        </blockquote>
    </div>
</div>

 <div class="is-pulled-right" >
    <span style="z-index:50;font-size:0.9em; margin-right:10px;">
        <img src="https://theysaidso.com/branding/theysaidso.png" height="20" width="20" alt="theysaidso.com" />
        <a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com" style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">theysaidso.com</a>
    </span>
</div>
