<link rel="stylesheet" type="text/css" href="css/todo.css">

<div class="columns is-vcentered" style="height:100vh;">
    <div class="column">
        <div class="box" style="margin:10px">
            <div class="tile is-ancestor">
                {{#each projects}} {{#if this.tasks}}
                <div class="tile is-parent is-4">
                    <article class="tile is-child box">
                        <p class="title">{{name}}</p>
                        <p class="subtitle">Tasks: {{this.tasks.length}}</p>
                        <div class="content">
                            <ul>
                                {{#each tasks}}
                                <li>
                                    {{> task}}
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </article>
                </div>
                {{/if}} {{/each}}
            </div>
        </div>
    </div>
</div>